<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/login.css">
    <link rel="stylesheet" href="../../styles/openMessage.css">
    <Script src="../../scripts/login.js" defer></Script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <Script src="../../scripts/openMessage.js"></Script>
    <meta name="author" content="Bryan Lemes">
    <link rel="shortcut icon" href="../../icones/favicon.ico" type="image/x-icon">
    <title>Login</title>
</head>

<body>
    <p class="poppins" id="subtitle">Preencha os campos para<br>acessar sua conta</p>

    <form action="">
        <div id="fields">
            <input type="text" name="usuario" id="usuario" class="campos inter" placeholder="Usuário" required>
            <input type="password" name="senha" id="senha" class="campos inter" placeholder="Senha" required>
        </div>
    
        <div id="buttons">
            <button class="poppins button-styled" type="button" id="voltar" onclick="telaCadastro()">VOLTAR</button>
            <button class="poppins button-styled" type="submit" id="login">LOGIN</button>
        </div>
    </form>

    <p id="create-login" class="poppins" onclick="{window.location.href='cadastro'}">Não possui um login? Cadastre-se</p>
    <p id="forgot-password" class="poppins">Esqueci minha senha</p>

</body>

</html>