<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/styles/antigasReservas.css}">
        <link rel="stylesheet" th:href="@{/styles/barraLateral.css}">
        <link rel="stylesheet" th:href="@{/styles/fa-registered.css}">
        <Script th:src="@{/scripts/notFound.js}" defer></Script>
        <Script th:src="@{/scripts/barraLateral.js}"></Script>
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <meta name="author" content="Bryan Lemes">
        <link rel="shortcut icon" th:href="@{/icones/favicon.ico}" type="image/x-icon">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <title>Página não encontrada</title>
    </head>

    <body>
        <header>
            <div id="links">
                <a class="inter" id="cadastro" href="/QuartoIdeal">Início</a>
                <a class="inter" id="cadastro" href="/QuartoIdeal/pages/cadastro">Cadastrar-se</a>
                <a class="inter" id="login" href="/QuartoIdeal/pages/login">Entrar</a>
                <a class="inter" id="compras" href="/QuartoIdeal/pages/antigasReservas">Reservas</a>
                <img th:src="@{/icones/carrinho.svg}" id="carrinho" alt="carrinho" onclick="abrirCarrinho()">
            </div>

            <i class="bi bi-list"></i>
        </header>

        <div id='naoLogado' class='poppins'>
                <p>Página não encontrada</p>
            </div>
        <footer>
            <span class="poppins" id='registered'></span>
            <i class="fa-regular fa-registered" style="color: #000; font-size: 20px; padding: 0;"></i>
        </footer>

        <div class="lista" id="lista">
        </div>
    </body>

</html>