@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');
/*
chamar fonte poppins 
    font-family: 'Poppins', sans-serif;
*/

body {
    margin: 0;
    height: 100%;
    
}


@media screen and (min-width: 1451px) {
    #lateral {
        background-color: #6160B8;
        width: 30%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        /*justify-content: space-between;*/
    }

    .poppins {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        color: #FFF;
    }

    #vc-possui {
        font-weight: 600;
        /*semibold*/
        font-size: 48px;
        text-align: center;
        margin-top: 80px;
    }

    #login {
        font-weight: 300;
        /*light*/
        font-size: 24px;
        text-align: left;
        margin-top: 80px;
        margin-left: 9%;
    }

    #entrar {
        font-weight: 600;
        /*semibold*/
        font-size: 32px;
        margin-left: 15%;
        margin-right: 15%;
        border-color: #FFF;
        background-color: #6160B8;
        border-radius: 30px;
    }
}