@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.poppins {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.inter {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    color: #FFF;
    cursor: pointer;
}

a:hover {
    background-color: #7674bd;
    transition: ease 0.6s;
    border-radius: 10px;
}

body {
    margin: 0;
    background-color: #e3e3e3;
}

header {
    background-color: #6160B8;
}

#links {
    display: flex;
    align-items: center;

}

#carrinho {
    color: #FFF;
    cursor: pointer;
    transition: width 1s;
}

#carrinho:hover {
    background-color: #7674bd;
    transition: ease 0.6s;
    border-radius: 10px;
}

.bi {
    cursor: pointer;
}

.bi:hover {
    background-color: #7674bd;
    transition: ease 0.6s;
    border-radius: 10px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#registered {
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 600
}

h1 {
    text-align: center;
    color: #000;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 0;
}

.buttons button {
    border: none;
    background-color: #e3e3e3;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #FFF;
    transition: ease 0.1s;
}

.metodoPagamento {
    background-color: #FFF;
}

@media screen and (min-width: 0px) {
    header {
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding-right: 5%;
    }

    a {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 0.8em;
    }

    h1 {
        padding-top: 20px;
        font-size: 1.6em;
    }

    #links {
        gap: 20px;
    }

    .bi {
        display: block;
        font-size: 2em;
    }

    #carrinho {
        width: 40px;
        padding-left: 5px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .buttons {
        width: 100%;
    }

    .buttons button {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    hr {
        width: 85%;
    }

    .metodoPagamento {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        padding: 13px;
        padding-top: 0px;
        border-radius: 10px;
        margin-bottom: 18%;
        margin-top: 20px;
        padding-bottom: 20px;
    }

    .metodoPagamento label, .valor{
        margin-top: 15px;
    }

    .metodoPagamento input[type="text"] {
        padding: 3px;
    }

    #ano {
        margin-left: 20px;
    }

    #codigo {
        width: 40px;
    }

    #pagamento {
        margin-top: 15px;
        font-size: 1.3em;
        font-weight: 500;
        background-color: #6160B8;
        border: none;
    }

    #qrcode {
        width: 200px;
        margin: auto;
        padding-top: 15px;
    }

    #obs {
        width: 200px;
        margin: auto;
        font-size: 0.8em;
        color: gray;
    }

    #revisarPagamento {
        width: 200px;
        margin: auto;
        margin-top: 15px;
        font-size: 1.1em;
        font-weight: 600;
        background-color: #6160B8;
        border: none;
        border-radius: 13px;
    }

    #valor{
        font-size: 1.2em;
    }
}

@media screen and (min-width: 700px) {
    h1 {
        font-size: 2.1em;
    }

    .metodoPagamento label, .valor{
        font-size: 1.2em;
    }

    .metodoPagamento select {
        font-size: 1em;
    }

    .metodoPagamento input[type="text"] {
        font-size: 1.1em;
        padding: 3px;
    }

    .buttons button {
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 1.1em;
    }

    #pagamento {
        margin-top: 20px;
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1280px) {
    a {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 1em;
    }

    h1 {
        font-size: 2.5em;
        padding-bottom: 20px;
    }

    .bi {
        display: none;
    }

    header {
        padding-top: 20px;
        padding-bottom: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-right: 0%;
    }

    #links {
        gap: 30px;
    }

    #carrinho {
        width: 25px;
        padding-left: 5px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .metodoPagamento {
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 1900px) {
    a {
        font-size: 1.3em;
    }

    footer {
        font-size: 1.4em;
    }


    .metodoPagamento {
        margin-left: 30%;
        margin-right: 30%;
    }
}